.md-footer-copyright
/* .md-footer-nav { */ {
  display: none;
}

nav.md-tabs {
  height: 35px;
  line-height: 0;
  overflow: hidden;
}

/* .md-header, nav.md-tabs {
  background-color: var(--md-primary-fg-color--dark);
  color: white;
} */

.md-tabs__link {
  opacity: 0.6;
}

.md-source__repository {
  font-weight: initial;
}

.md-tabs__link--active {
  font-weight: 600;
  opacity: 1;
}

[data-md-color-primary="orange"] {
  --md-primary-bg-color: black;
}

.huddo-banner {
  position: fixed;
  top: 120px;
  right: 0;
  font-size: 18px;
  width: 250px;
  z-index: 500;
}

.huddo-banner img {
  margin: 5px 10px;
  height: 50px;
}

.huddo-banner h1 {
  font-size: 22px;
}

.huddo-banner div {
  padding: 5px;
}

@media (max-width: 1920px) {
  .huddo-banner {
    top: initial;
    bottom: 0;
  }
}

@media (max-width: 960px) {
  .huddo-banner {
    display: none;
  }
}
